[submodule "vendor/Jerk"]
	path = vendor/Jerk
	url = https://github.com/gf3/Jerk.git
[submodule "vendor/node-bitly"]
	path = vendor/node-bitly
	url = https://github.com/codesplicer/node-bitly
[submodule "vendor/node-github"]
	path = vendor/node-github
	url = https://github.com/ajaxorg/node-github
[submodule "vendor/node-oauth"]
	path = vendor/node-oauth
	url = https://github.com/ciaranj/node-oauth
[submodule "vendor/node-twitter"]
	path = vendor/node-twitter
	url = https://github.com/matagus/node-twitter.git
[submodule "vendor/cookie"]
	path = vendor/cookie
	url = https://github.com/jed/cookie-node.git
[submodule "vendor/Humane-Dates"]
	path = vendor/Humane-Dates
	url = git@github.com:peol/Humane-Dates.git
